<main>
  <div class="banner">
    <ul>
        <li><img src="https://photos-4.dropbox.com/t/2/AABGUcl9Y87ZhaHxJNHebZCnnqt-NEpBd6gV-u76L4B7Fg/12/125279238/png/32x32/1/1435788000/0/2/1.png/CIa43jsgASACIAMgBCAFIAYgBygCKAM/DiOLfzxH53unv1MWr83N1SwVCFfruMCtDsKFtC3nyNw?size=1024x768&size_mode=2"/></li>
        <li><img src="https://photos-5.dropbox.com/t/2/AAApoXW14hYIdad7mAebHWnbvmyCqDVg4BTvrBNIucdS4w/12/125279238/png/32x32/1/1435788000/0/2/2.png/CIa43jsgASACIAMgBCAFIAYgBygCKAM/5Lu0g2Pj1O4L0LNE9VqwgkSdOqxWRHdvYyAwkVq1xr8?size=1024x768&size_mode=2"/></li>
        <li><img src="https://photos-4.dropbox.com/t/2/AAAVeJeqYYldws9oOO3RvsB-Xdga8Cs9jK1jk_CHcAvq-w/12/125279238/png/32x32/1/1435788000/0/2/3.png/CIa43jsgASACIAMgBCAFIAYgBygCKAM/_EMVnhSFCcpKPv_bijV60p8P_Zn633OLwwhbENDR-14?size=1024x768&size_mode=2"/></li>
    </ul>
</div>
  <section>
    <div>
      <img src="https://photos-4.dropbox.com/t/2/AABGUcl9Y87ZhaHxJNHebZCnnqt-NEpBd6gV-u76L4B7Fg/12/125279238/png/32x32/1/1435788000/0/2/1.png/CIa43jsgASACIAMgBCAFIAYgBygCKAM/DiOLfzxH53unv1MWr83N1SwVCFfruMCtDsKFtC3nyNw?size=1024x768&size_mode=2"/>
      <h1>Projet 1</h1>
      <p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine.</p>
      <a href="">Learn more</a>
    </div>
    <div>
      <img src="https://photos-5.dropbox.com/t/2/AAApoXW14hYIdad7mAebHWnbvmyCqDVg4BTvrBNIucdS4w/12/125279238/png/32x32/1/1435788000/0/2/2.png/CIa43jsgASACIAMgBCAFIAYgBygCKAM/5Lu0g2Pj1O4L0LNE9VqwgkSdOqxWRHdvYyAwkVq1xr8?size=1024x768&size_mode=2"/>
      <h1>Projet 2</h1><p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine.</p>
      <a href="">Learn more</a>
    </div>
    <div>
      <img src="https://photos-4.dropbox.com/t/2/AAAVeJeqYYldws9oOO3RvsB-Xdga8Cs9jK1jk_CHcAvq-w/12/125279238/png/32x32/1/1435788000/0/2/3.png/CIa43jsgASACIAMgBCAFIAYgBygCKAM/_EMVnhSFCcpKPv_bijV60p8P_Zn633OLwwhbENDR-14?size=1024x768&size_mode=2"/>
      <h1>Projet 3</h1><p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine.</p>
      <a href="">Learn more</a>
    </div>
  </section>
</main>