<header>
  <nav>
    <ul>
      <li>Léo</li>
      <li>Welcome</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

<main>
  <h1>Hello, I'm making my portfolio !</h1>
  <button>View my work</button>
</main>

<footer>
  <a href="">GitHub</a>
  <a href="">LinkedIn</a>
  <a href="">Copyright</a>
</footer>