// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{ 
  background: url(https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xft1/t31.0-8/11040805_386890721494517_8057333023561496455_o.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}